doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		title Ethereum Hello world
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
		script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
	body
	.container-fluid
		.row
			.col-md-6.alert.alert-primary
				h5 Hello who ?
					h2 Hello #{name}
			.col-md-6.alert.alert-secondary
				h3 Blockchain info
				#info
					br
					div
						b Web3 version :&nbsp;
						span#web3-version #{nodeInfo.web3Version}
					div
						b Node :&nbsp;
						span#node #{nodeInfo.node}
					div
						b Last block :&nbsp;
						span#block-number #{nodeInfo.blockNumber}
					div
						b Coinbase :&nbsp;
						span#coinbase #{nodeInfo.coinbase}
					div
						b Balance :&nbsp;
						span#balance #{nodeInfo.balance}
					div
						b Contract balance :&nbsp;
						span#contract-balance #{nodeInfo.contractBalance}
					div
						form(method='get', action='/withdraw')
							div
								input(type='submit', value='Withdraw')
								span#withdraw-status
		.row
			.col-md-6.alert.alert-warning
				h3 Change name
				#form
					form(method='post', action='/name')
						.form-group
							label(for='newName') Name :
							input#newName(type='text', name='newName').form-control
						.form-group
							label(for='price') Price (Eth) :
							input#price(type='text', name='price').form-control
						.form-group
							label(for='account') Account :
							select#account(name='account').form-control
								each account in accounts
									option(value=account.address) #{account.address}
						div
							input(type='submit', value='Send').btn.btn-primary
			.col-md-6.alert.alert-info
				h3 Status
				div#status Transaction : #{txStatus}
				div#blockNumber Block : #{blockNumber}
				div#errorMessage #{errorMessage}

		.row
			.col-md-12.alert.alert-secondary
				h3 Names history
				ul
				each item in nameHistory
					li= 'Block '+item.block +' -> '+item.name