doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Ethereum Hello world
  body
    p
    h2 Admin
    #info
      b Blockchain info : 
      br
      div
        b Web3 version : 
        span#web3-version #{web3Version}
      div
        b Node : 
        span#node #{node}
      div
        b Block number : 
        span#block-number #{blockNumber}
      div
        b Coinbase : 
        span#coinbase #{coinbase}
      div
        b Balance : 
        span#balance #{balance}
      div
        b Contract balance : 
        span#contract-balance #{contractBalance}
      div
        span
          input(type='button', onclick='javascript:withdraw()', value='Withdraw')
        span#withdraw-status #{web3-version}
    p
    p
    h2 Use
    #form
      div
        | Name : 
        input#newName(type='text', name='newName')
      div
        | Price (Eth) : 
        input#price(type='text', name='price')
      div
        | Address : 
        input#address(type='text', name='address', value='0x4a4817F49F7f31a2c639C5C723D4BAA194AD0f77')
      div
        | Private key : 
        input#pk(type='text', name='pk', value='12cc2f60b68a8fefb85e93fed0a2ae4680a465f714e4ea42f4a73cf27f317257')
      div
        input(type='submit', value='Envoyer', onclick='javascript:changeName()')
    p
    p
    div
      | Status : 
      span#status
    p
    p
    h2 Result
    #content
    p
    script(type='text/javascript', src='../web3.min.js')
    script(type='text/javascript', src='../ethereumjs-tx-1.3.3.min.js')
    script(type='text/javascript', src='payablehelloworld-abi.js')
    script(type='text/javascript', src='payablehello.js')
